PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/digital-life-lessons
BETTER_AUTH_SECRET=your-super-secret-key-min-32-chars
BETTER_AUTH_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000
# Production:
# CLIENT_URL=https://ass-10client.vercel.app
# BETTER_AUTH_URL=https://ass-10server.vercel.app
BETTER_AUTH_TRUSTED_ORIGINS=
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
